
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
<script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
<script src="~/Content/bootstrap-table/bootstrap-table-zh-CN.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            @ViewBag.ServiceName-@ViewBag.Api
        </h1>
        <ol class="breadcrumb">
            <li><a href="\"><i class="fa fa-files-o"></i> @ViewBag.ServiceName</a></li>
            <li class="active">@ViewBag.Api</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Hover Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12" id="content">
                                    <table data-toggle="table"
                                           data-method="post"
                                           data-url="SelectMetadataByPage"
                                           data-query-params="queryParams"
                                           data-pagination="true"
                                           data-search="true"
                                           data-page-list="[50, 100, 200]"
                                           data-side-pagination="server"
                                           >
                                        <thead>
                                            <tr role="row">
                                                <th data-field="StatTime">StatTime</th>
                                                <th data-field="ResponseFrequency">ResponseFrequency</th>
                                                <th data-field="RequestFrequency">RequestFrequency</th>
                                                <th data-field="AverageRequestTime">AverageRequestTime</th>
                                                <th data-field="AverageResponseTime">AverageResponseTime</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div id="page-selection"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

</div>
<input type="hidden" id="hidDataCount" value="" />
<input type="hidden" id="hidServiceName" value="@ViewBag.ServiceName" />
<input type="hidden" id="hidApi" value="@ViewBag.Api" />

<script>
    function queryParams(obj) {
        var serviceName = $("#hidServiceName").val();
        var api = $("#hidApi").val();
        return {
            serviceName: serviceName,
            api: api,
            pageSize: obj.limit,
            pageIndex: Math.ceil(obj.offset / obj.limit) + 1
        };
    }
</script>
