@using Easy.Monitor.Application.Models.ServiceStatMinute
@model Tuple<IEnumerable<FrequencyData>,int>
@{
    <table id="example2" class="table table-bordered table-hover dataTable">
        <thead>
            <tr role="row">
                <th>StatTime</th>
                <th>ResponseFrequency</th>
                <th>RequestFrequency</th>
                <th>AverageRequestTime</th>
                <th>AverageResponseTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr role="row" class="odd">
                    <td class="sorting_1">@item.StatTime</td>
                    <td>@item.ResponseFrequency</td>
                    <td>@item.RequestFrequency</td>
                    <td>@item.AverageRequestTime</td>
                    <td>@item.AverageResponseTime</td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    $(function () {
        $("#hidDataCount").val(@Model.Item2);
    });
</script>